<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microblog</title>
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body>
    <header>
        <div class="container"> <nav>
                <a href="/"><h1>Microblog</h1></a>
                <div>
                    {{#if user}}
                        <a href="/dashboard">Meu Dashboard</a>
                        <a href="/logout">Logout</a>
                    {{else}}
                        <a href="/login">Login</a>
                        <a href="/register">Registrar</a>
                    {{/if}}
                </div>
            </nav>
        </div> </header>

    <main>
        <div class="container"> {{{body}}}
        </div> </main>
    
    <footer class="container">
        <p>&copy; 2025 - Projeto Microblog</p>
    </footer>
</body>
</html>